<a href="https://colab.research.google.com/github/SupreethRao99/CVResist/blob/master/Week_1_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Quick Introduction to Variables

Variables are containers that can store various types of values. in Python Variables are declared either by using it or by explicitly defining it. Let us take a look at an example where variables are used

In [7]:
a = int(input('Enter a number')) #accepting an Integer
print(a) #displaying the number provided by the user
a = a + 1 #incrementing the variable by 1
b = a * 10 #performing multiplication and storing it in another variable
c = a + b #performing addition on variables
print("Value of variable c is",c)

Enter a number4
4
Value of variable c is 55

# Variables and Input Statements

The computer can accept variables of various formats this helps us in achieving various goals. The standard method of accepting a value in Python3 is to use the [`input()`](https://docs.python.org/3/library/functions.html#input)  method. more can be found out about it in the Python3 [docs](https://docs.python.org/3/).

In [8]:
name = str(input("enter your name "))
print(name)

enter your name Supreeth Rao
Supreeth Rao

# Variables and Literals

As opposed to variables, Literals are constant values who values cannot change. Literals are of various type. We can have `String`, `Integer`, `Float` and many other types of literals.

In [9]:
r = int(input("Enter the radius of the circle"))
area = 3.14 * r * r #3.14 is a Literal and r is a variable
print('Area of circle is',area)

Enter the radius of the circle2
Area of circle is 12.56

# Data Types

A data type or simply type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python offers the following datatypes

Data type   | Example
-------------------|------------------
Text Type       | `str`
Numeric Type       | `int`,`float`,`complex`
Sequence Type     | `list`,`tuple`,`range`
Mapping Type | `dict`
Set Type | `set`,`frozenset`
Boolean Type |`bool`
Binary Type | `bytes`,`bytearray`,`memoryview`

In [11]:
datatypeList = ['abc', 123, 534.234, 2+6j, False]
print(type(datatypeList))
for i in datatypeList:
  print(type(i))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

Python3 supports type casting. a few examples are seen below

In [13]:
a = str(123)
print(type(a))
# all non empty strings are evaluated to be true

<class 'str'>

# Operators and Expressions

Python offers the following arithmetic operators `+,-,*,/,//,%, **`

In [14]:
print("Addition", 2+3)
print("Subtraction", 6-5)
print("Multiplication", 2*5)
print("Division", 5/6)
print("Floor Division", 7//2)
print("Modulus", 23%5)
print("Exponentiation", 2**3)

Addition 5
Subtraction 1
Multiplication 10
Division 0.8333333333333334
Floor Division 3
Modulus 3
Exponentiation 8

Python offers the following relational operators `>,<,>=,<=, ==, !=`

In [15]:
print(5 < 5) # less than
print(6 > 5) # greater than
print(5 <= 5) # less than equal to
print(3 >= 5) # greater than equal to
print(4 == 4) # strictly equal to
print(3 != 5) # not equal to

False
True
True
False
True
True

Python offers the following Logical operators `and, or , not`

In [17]:
# Logical AND operator
print(False and False)
print(False and True)
print(True and False)
print(True and True)
print() # blank print statement for line break
#Logical OR operator
print(False or False)
print(False or True)
print(True or False)
print(True or True)
print() # blank print statement for line break
#logical NOT operator
print(not True)
print(not False)

False
False
False
True

False
True
True
True

False
True

# Strings

Strings are a case-sensitive collection of characters, they can contain any combination of alphanumeric characters. Strings can be concatenated and sliced. Python3 also supports negaitve slices.

In [31]:
str = 'Hello world'
str = str + ', this is a test sentence'
print(str[5:11])
print(str[-6:-1])

 world
ntenc

strings can be replicated or broadcasted by using the `*`. Strings can be lexicographically compared using any of the logical operators

In [20]:
str = 'abc'
print(str*5)
print('abc'<'xyz')

abcabcabcabcabc
True

length of a string can be found using the `len()` method

In [32]:
str = "The Quick Brown Fox Jumped Over the Lazy Dog"
print(len(str))

44